/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*  background-color: rgb(209, 245, 252);*/
/*}*/
/*!* .FirstDiv{*/
/*  background-color: aqua;*/
/*} *!*/
/*!* .secondDiv{*/
/*  background: rgba(81, 178, 243, 0.2);*/
/*  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
/*  backdrop-filter: blur( 3.0px );*/
/*  -webkit-backdrop-filter: blur( 3.0px );*/
/*  border-radius: 10px;*/
/*  border: 1px solid rgba( 255, 255, 255, 0.18 );*/
/*  padding: 0 0 0 500px;*/
/*} *!*/
/*.Header{*/
/*    !* position: absolute; *!*/
/*    position:fixed;*/
/*    top: 30px;*/
/*    left: 0px;*/
/*    height: 70px;*/
/*    background: rgba(81, 178, 243, 0.2);*/
/*  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
/*  backdrop-filter: blur( 3.0px );*/
/*  -webkit-backdrop-filter: blur( 3.0px );*/
/*  border-radius: 10px;*/
/*  border: 1px solid rgba( 255, 255, 255, 0.18 );*/
/*  padding: 0 0 0 500px;*/
/*}*/
/*.second{*/
/*  position:fixed;*/
/*    top: 190px;*/
/*    left: 0px;*/
/*    height: 70px;*/
/*    width: fit-content;*/
/*}*/
/*#charusatImage{*/
/*  text-align: left;*/
/*  position:fixed;*/
/*    top: -10px;*/
/*    left: 80px;*/
/*    right: 50px;*/
/*    height: 100px;*/
/*}*/
/*div{*/
/*  width: 100%;*/
/*  height: 110vh;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  margin-top: -30px;*/

/*}*/
/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
.udemy-logo {
  display: inline-block;
  background-color: white;
  position: absolute;
  top: 1rem;
}
.title {
  display: inline-block;
  color: white;
  position: relative;
  left: 7rem;
}
.button {
  position: absolute;
  right: 50px;
}
.progress {
  display: inline-block;
  position: absolute;
  right: 17rem;
  top: 0.75rem;
  bottom: 1rem;
  color: white;
  height: 2.5rem;
  background-color: black;
}
.progress-title {
  display: inline-block;
  color: white;
  position: absolute;
  right: 10.5rem;
}
.app-row {
  background-color: black;
  text-align: justify;
  margin: 0;
}
/*.video{*/
/*  width:1100px;*/
/*  height:600px;*/
/*  margin: 0;*/
/*}*/
/*video{*/
/*  object-fit: fill;*/
/*}*/
.css-button {
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  border-radius: 0;
  border: 1px #e6ebf2 solid;
  background-color: #010a0f;
  text-shadow: 1px 1px 1px #e8ebed;
  box-shadow: inset 1px 1px 2px 0 #ebf0f5;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 0.75rem;
  margin-left: 16px;
}
.css-button:hover {
  background-color: #468ccf;
}
.css-button-icon {
  padding: 10px 10px;
  border-right: 1px solid;
  box-shadow: -1px 0 0 inset;
}
.css-button-text {
  padding: 10px 18px;
}
body {
  margin: 0;
}
/*.grid-container{*/
/*  !*display: flex;*!*/
/*  display: inline-grid;*/
/*  grid-template-columns: auto auto;*/
/*}*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid-item2 {
  text-align: center;
  /*padding-right: 0px;*/
}
.vertical-menu {
  width: 400px;
  height: 600px;
  padding-left: 16%;
  /*overflow-x: auto;*/
}
.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}
.vertical-menu a:hover {
  background-color: #ccc;
}
.vertical-menu a:active {
  background-color: #ccc;
  color: white;
}

.player-wrapper {
  /*position: absolute;*/
  padding-top: 0% /* Player ratio: 100 / (1280 / 720) */;
  /*height: 50%;*/
  /*width: 50%;*/
}

.react-player {
  position: center;
  top: 0;
  left: 0;
}
